.container {
    width: 50%;
    height: 200px;
    display: flex;
    gap: 5px;
}

.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid white;
    transition: all ease-out 0.5s;
    cursor: pointer;
}

.container img:hover {
    transform: scale(1.1);
}
